body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gloria Hallelujah', cursive; */
font-family: 'Merriweather', serif;
    
}

body,button {
    font-family: 'Indie Flower', cursive;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;

}

.mute {
    background: url(./assets/img/nota.png) center no-repeat;
    /* background-size: contain; */
    width: 50px;
    height: 50px;
    background-color: transparent;
    
}

main {
    padding-top: 50px;
    width: 100%;
    height: 70vh;
    /* background-image: url(./assets/img/tic-tac-toe-background.jpg); */
    /* background-image: url(./assets/img/kisspng-heart-tic-tac-toe-play-tic-tac-toe-free-tic-tac-tic-tac-5b1e6050ae1b84.0311700715287173927132.png); */
    background-image: url(./assets/img/krestik-nolik-feniks-bumaga.jpg);
    background-size: contain;
    background-position: 0 0;
}

#field {
    margin: auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-areas: "a1 a2 a3" "b1 b2 b3" "c1 c2 c3";
    border: 5px solid black;
    background-color: aliceblue;
}

.cell {
    margin: 3px;
    border: 3px double #000;
    border-radius: 5px;
    font-size: 50px;
    padding: 75px;
    transition-duration: 0.5s;
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-size: 50px;
    cursor: pointer;
    
}

.cell_a1 {
    grid-area: a1;
}

.cell_a2 {
    grid-area: a2;
}

.cell_a3 {
    grid-area: a3;
}

.cell_b1 {
    grid-area: b1;
}

.cell_a1 {
    grid-area: b2;
}

.cell_a1 {
    grid-area: b3;
}

.cell_a1 {
    grid-area: c1;
}

.cell_a1 {
    grid-area: c2;
}

.cell_a1 {
    grid-area: c3;
}

.game_over{
    width: 600px;
    height: 300px;
    border: solid 10px rgb(124, 53, 218);
    border-radius: 30px;
    position: absolute;
    /* top: -330px; */
    top: 30px;
    left: calc(50% - 300px);
    background-color: rgb(179, 82, 82);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 50px;
}

.btn_start_game{
    display: block;
    width: 200px;
    height: 50px;
    border: 5px solid brown;
    cursor: pointer;

}


header,
footer {
    color: white;
    background-color: black;
    height: 10vh;
    font-size: 36px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    width: 90%;
    margin: auto;
}

.footer_data>span {
    margin-right: 20px;
}

.footer_data>a {
    color: white;
}

.footer_year {
    justify-self: center;
}

.footer_rsschool {
    margin-right: 50px;
}

.footer_rsschool:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}